Repository rancher/elemental-operator, pull requests merged in 2022-09, with the labels that each got.

#154 drop unused labels on bootstrap
  pkg/controllers/machineinventoryselector/bootstrap.go
Labels: area/operator

#153 Fix secretname for the apiService
  chart/templates/apiservice.yaml
Labels: bug, area/chart

#155 Add extra labels with smbios data
  pkg/server/register.go
  pkg/server/register_test.go
Labels: enhancement, area/operator, area/tests

#156 operator: ensure inventory.Labels is not nil before adding labels
  pkg/server/register.go
Labels: area/operator

#157 Configure custom smbios data
  Examples/elemental.cattle.io/v1beta1/MachineRegistration.yaml
  Makefile
  pkg/generated/clientset/versioned/fake/register.go
  pkg/generated/clientset/versioned/scheme/register.go
  pkg/server/register.go
  pkg/server/register_test.go
Labels: area/operator, area/docs, area/tests, area/build

#163 register/operator: drop MachineInventory labels passed from the client
  cmd/register/main.go
  pkg/config/config.go
  pkg/register/register.go
  pkg/server/register.go
  pkg/server/register_test.go
Labels: area/operator, area/register, area/tests

#164 tests(inventory): Add unit tests for inventory methods
  .github/workflows/unit-tests.yaml
  codecov.yml
  pkg/controllers/machineinventory/machineinventory.go
  pkg/controllers/machineinventory/machineinventory_test.go
  tests/controllerHelpers/machineInventory.go
Labels: area/operator, area/tests, area/build

#166 Rework client to accept a ClientInterface
  cmd/operator/display/root.go
  cmd/register/main.go
  pkg/clients/clients.go
  pkg/controllers/machineinventory/machineinventory.go
  pkg/controllers/machineinventoryselector/controller.go
  pkg/controllers/managedos/managedos.go
  pkg/controllers/managedosversionchannel/managedosversionchannel.go
  pkg/controllers/managedosversionchannel/mangedosversionchannel_test.go
  pkg/controllers/registration/registration.go
  pkg/operator/operator.go
  pkg/register/register.go
  pkg/server/server.go
  pkg/services/syncer/config/config.go
  pkg/services/syncer/syncer.go
  pkg/services/syncer/types/custom.go
  pkg/services/syncer/types/json.go
  pkg/tpm/auth_tpm.go
  pkg/tpm/tpm.go
  tests/controllerHelpers/FakeElementalV1beta1.go
  tests/controllerHelpers/FakeMachineInventory.go
  tests/controllerHelpers/FakeManagedOsVersionChannel.go
  tests/controllerHelpers/testClients.go
Labels: area/operator, area/register, area/tests

#167 tests(registration): More unit tests
  pkg/controllers/registration/registration_test.go
  tests/controllerHelpers/FakeCore.go
  tests/controllerHelpers/FakeElementalV1beta1.go
  tests/controllerHelpers/FakeMachineRegistration.go
  tests/controllerHelpers/FakeRBAC.go
  tests/controllerHelpers/FakeRancher.go
  tests/controllerHelpers/FakeSetting.go
  tests/controllerHelpers/FakeSettingCache.go
  tests/controllerHelpers/testClients.go
Labels: area/operator, area/tests

#170 register: fix CGO build in Dockerfile
  Dockerfile
Labels: area/register

#171 Use BCI Golang image to build image
  Dockerfile
Labels: area/build

#160 Add sbom to releases and attach to containers
  .github/workflows/docker-master.yaml
  .github/workflows/docker-tag.yaml
  .github/workflows/gorelease.yaml
Labels: area/build

#172 lint: dont overshadow var
  pkg/services/syncer/syncer.go
Labels: area/operator
