Repository rancher/elemental-operator, pull requests merged in 2022-12, with the labels that each got.

#270 Kubebuilder: Merge 2 main.go into one
  Makefile
  chart/templates/cluster_role.yaml
  chart/templates/deployment.yaml
  cmd/operator/main.go
  cmd/operator/operator-kubebuilder/root.go
  cmd/operator/operator/root.go
  config/rbac/bases/role.yaml
  controllers/managedosversionchannel_controller.go
  pkg/operator/operator.go
  pkg/operator/options.go
  pkg/operator/service.go
  vendor/github.com/rancher/wrangler/pkg/signals/signal.go
  vendor/github.com/rancher/wrangler/pkg/signals/signal_posix.go
  vendor/github.com/rancher/wrangler/pkg/signals/signal_windows.go
  vendor/modules.txt
Labels: area/operator, area/build, area/chart

#271 Kubebuilder: Backport minor fixes
  controllers/machineselector_controller.go
  controllers/managedosimage_controller.go
  controllers/managedosimage_controller_test.go
  tests/e2e/upgrades_test.go
Labels: area/tests

#277 Set helm labels on CRDs
  pkg/operator/operator.go
Labels: area/operator

#280 Kubebuilder: fix MachineRegistration search during registration
  controllers/machineselector_controller.go
  pkg/server/register.go
Labels: area/operator

#281 Add helm labels and annotations to all crds
  pkg/operator/operator.go
Labels: area/operator

#286 Remove yaml typo
  pkg/controllers/machineinventoryselector/bootstrap.go
Labels: area/operator

#287 Change yaml marshalling of node-labels
  pkg/controllers/machineinventoryselector/bootstrap.go
Labels: area/operator

#284 Kubebuilder: Remove invalid conditions from objects
  controllers/machineinventory_controller.go
  controllers/machineregistration_controller.go
  controllers/machineselector_controller.go
  controllers/managedosimage_controller.go
  controllers/managedosversionchannel_controller.go
  pkg/util/suite_test.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: area/operator, area/tests

#289 Set default syncTime when not provided
  controllers/managedosversionchannel_controller.go
  controllers/managedosversionchannel_controller_test.go
Labels: area/tests

#290 Bump rancher version in e2e tests
  .github/workflows/e2e.yaml
Labels: area/build

#293 Kubebuilder: fix MachineRegistration search during registration
  controllers/machineselector_controller.go
  pkg/server/register.go
Labels: area/operator

#291 Drop legacy catalog for tests
  go.mod
  go.sum
  tests/catalog/managedosimage.go
  tests/catalog/managedosversion.go
  tests/catalog/managedosversionchannel.go
  tests/e2e/upgrades_test.go
  vendor/github.com/rancher-sandbox/ele-testhelpers/helpers/poll.go
  vendor/github.com/rancher-sandbox/ele-testhelpers/kubectl/kubectl.go
  vendor/modules.txt
Labels: area/tests, area/build

#282 [tpm] rework emulation tpm to use random seed
  pkg/register/register.go
Labels: area/operator

#299 operator: add back debug logs for logrus (registration)
  chart/templates/deployment.yaml
  cmd/operator/operator/root.go
Labels: area/chart

#302 Add disable-boot-entry flag in install structure
  api/v1beta1/types.go
  chart/templates/crds.yaml
  config/crd/bases/elemental.cattle.io_machineregistrations.yaml
Labels: area/chart

#297 Derive TPM seed from system UUID
  pkg/register/register.go
Labels: area/operator

#308 Improve unit tests
  .github/workflows/unit-tests.yaml
  Makefile
Labels: area/build

#307 Properly sanitize extra system data
  pkg/server/register.go
  pkg/server/register_test.go
Labels: area/operator, area/tests

#301 Return registration errors to client
  cmd/register/main.go
  pkg/register/register.go
  pkg/register/websocket.go
  pkg/server/register.go
  pkg/server/register_test.go
  pkg/server/server.go
Labels: area/operator, area/register, area/tests

#309 Re-add config-dir install flag
  api/v1beta1/types.go
  chart/templates/crds.yaml
  config/crd/bases/elemental.cattle.io_machineregistrations.yaml
  controllers/managedosimage_controller_test.go
  pkg/elementalcli/elementalcli.go
Labels: area/operator, area/tests, area/chart

#313 Add default config-dir value
  pkg/elementalcli/elementalcli.go
Labels: area/operator

#312 unit-tests: disable parallelization
  Makefile
Labels: area/build
