Repository rancher/elemental-operator, pull requests merged in 2022-10, with the labels that each got.

#185 Add reasons for conditions
  pkg/apis/elemental.cattle.io/v1beta1/machine.go
  pkg/apis/elemental.cattle.io/v1beta1/os.go
  pkg/apis/elemental.cattle.io/v1beta1/registration.go
  pkg/apis/elemental.cattle.io/v1beta1/selector.go
  pkg/controllers/machineinventory/machineinventory.go
  pkg/controllers/machineinventory/machineinventory_test.go
  pkg/controllers/machineinventoryselector/bootstrap.go
  pkg/controllers/machineinventoryselector/controller.go
  pkg/controllers/machineinventoryselector/inventory.go
  pkg/controllers/managedos/managedos.go
  pkg/controllers/registration/registration.go
Labels: area/operator, area/tests

#187 Add elemental GlobalRole for Rancher UI
  chart/templates/globalrole.yaml
Labels: area/chart

#191 Revert "Add sbom to releases and attach to containers"
  .github/workflows/docker-master.yaml
  .github/workflows/docker-tag.yaml
  .github/workflows/gorelease.yaml
Labels: area/build

#199 operator: drop duplicated import of elemental APIs
  pkg/controllers/registration/registration.go
Labels: area/operator

#201 Add config for e2e tests
  Makefile
  go.mod
  go.sum
  tests/catalog/machineregistration.go
  tests/catalog/setting.go
  tests/e2e/config/config.go
  tests/e2e/config/config.yaml
  tests/e2e/do_nothing_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/machineregistration_test.go
  tests/e2e/managedosversionchannel_test.go
  tests/e2e/upgrades_test.go
  vendor/github.com/drone/envsubst/v2/.drone.yml
  vendor/github.com/drone/envsubst/v2/.gitignore
  vendor/github.com/drone/envsubst/v2/LICENSE
  vendor/github.com/drone/envsubst/v2/eval.go
  vendor/github.com/drone/envsubst/v2/funcs.go
  vendor/github.com/drone/envsubst/v2/parse/node.go
  vendor/github.com/drone/envsubst/v2/parse/parse.go
  vendor/github.com/drone/envsubst/v2/parse/scan.go
  vendor/github.com/drone/envsubst/v2/path/match.go
  vendor/github.com/drone/envsubst/v2/readme.md
  vendor/github.com/drone/envsubst/v2/template.go
  vendor/modules.txt
Labels: area/tests, area/build

#194 Kubebuilder: Add make tasks for different tools
  .github/workflows/e2e.yaml
  .github/workflows/unit-tests.yaml
  .gitignore
  Makefile
  api/v1beta1/machineregistration_types.go
  api/v1beta1/zz_generated.deepcopy.go
  chart/templates/crds.yaml
  config/crd/bases/elemental.cattle.io_machineinventories.yaml
  config/crd/bases/elemental.cattle.io_machineinventoryselectors.yaml
  config/crd/bases/elemental.cattle.io_machineinventoryselectortemplates.yaml
  config/crd/bases/elemental.cattle.io_machineregistrations.yaml
  config/crd/kustomization.yaml
  config/crd/kustomizeconfig.yaml
  scripts/boilerplate.go.txt
  scripts/go_install.sh
Labels: area/build, area/chart

#196 Audit and update elemental-operator RBAC ClusterRole
  chart/templates/rbac.yaml
Labels: area/chart

#204 Collect operator logs after running tests
  .github/workflows/e2e.yaml
  .gitignore
  tests/e2e/config/config.go
  tests/e2e/config/config.yaml
  tests/e2e/e2e_suite_test.go
Labels: area/tests, area/build

#203 Kubebuilder: Run new code and generate RBAC
  Dockerfile
  Makefile
  chart/templates/deployment.yaml
  cmd/operator/main.go
  cmd/operator/operator-kubebuilder/root.go
  config/rbac/bases/role.yaml
  config/rbac/kustomization.yaml
  config/rbac/patches/name_in_role.yaml
Labels: area/operator, area/build, area/chart

#212 Label secrets managed by elemental-operator
  pkg/apis/elemental.cattle.io/v1beta1/machine.go
  pkg/controllers/machineinventory/machineinventory.go
  pkg/controllers/managedos/template.go
  pkg/controllers/registration/registration.go
Labels: area/operator

#215 Only read yaml files included in the given directories
  cmd/register/main.go
Labels: area/register

#206 Kubebuilder: Add machine registration controller
  Dockerfile
  api/v1beta1/common_consts.go
  chart/templates/deployment.yaml
  cmd/operator/operator-kubebuilder/root.go
  controllers/machineregistration_controller.go
  controllers/machineregistration_controller_test.go
  controllers/suite_test.go
  go.mod
  go.sum
  pkg/controllers/registration/registration.go
  pkg/controllers/registration/registration_test.go
  pkg/operator/operator.go
  pkg/test/cleanup.go
  pkg/test/crdbuilder.go
  pkg/test/envtest.go
Labels: area/operator, area/tests, area/build, area/chart

#216 Label other objects created by elemental-operator
  pkg/controllers/registration/registration.go
Labels: area/operator

#218 tests: use latest url for rancher charts
  .github/workflows/build.yaml
  .github/workflows/chart.yaml
  .github/workflows/docker-master.yaml
  .github/workflows/docker-tag.yaml
  .github/workflows/e2e.yaml
  .github/workflows/gorelease.yaml
  .github/workflows/lint.yaml
  .github/workflows/unit-tests.yaml
  Makefile
  scripts/setup-kind-cluster.sh
  tests/e2e/config/config.go
  tests/e2e/config/config.yaml
Labels: area/tests, area/build

#220 tests: Add k8s 1.24 and default to rancher 2.6.9
  .github/workflows/e2e.yaml
  scripts/setup-kind-cluster.sh
  tests/e2e/config/config.yaml
Labels: area/tests, area/build

#217 operator: unit-tests: add coverage for unauthenticatedResponse()
  pkg/server/register_test.go
Labels: area/operator, area/tests

#230 Fix docker and gorelease jobs
  .github/workflows/chart.yaml
  .github/workflows/docker-tag.yaml
  .github/workflows/gorelease.yaml
Labels: area/build

#231 Stop elemental-system-agent when the node is ready
  pkg/controllers/machineinventoryselector/bootstrap.go
Labels: area/operator, backport-kubebuilder
