Repository rancher/elemental-operator, pull requests merged in 2022-11, with the labels that each got.

#234 Bump golangci action
  .github/workflows/gorelease.yaml
  .github/workflows/lint.yaml
Labels: area/build

#236 Create dependency-review.yml
  .github/workflows/dependency-review.yml
Labels: area/build

#243 Propagate inventory labels to node on bootstrap plan
  pkg/controllers/machineinventoryselector/bootstrap.go
Labels: area/operator

#244 Kubebuilder: Add "verify" workflow
  .github/workflows/verify.yaml
  Makefile
  go.mod
Labels: area/build

#248 Fix make verify
  Makefile
Labels: area/build

#245 New syncer logic
  api/v1beta1/condition_consts.go
  api/v1beta1/managedosversionchannel_types.go
  api/v1beta1/zz_generated.deepcopy.go
  chart/README.md
  chart/templates/cluster_role.yaml
  chart/templates/crds.yaml
  chart/templates/deployment.yaml
  chart/values.yaml
  cmd/operator/operator-kubebuilder/root.go
  cmd/operator/operator/root.go
  config/crd/bases/elemental.cattle.io_managedosversionchannels.yaml
  config/rbac/bases/role.yaml
  controllers/managedosversionchannel_controller.go
  controllers/managedosversionchannel_controller_test.go
  controllers/suite_test.go
  pkg/services/syncer/config/config.go
  pkg/services/syncer/syncer.go
  pkg/syncer/custom.go
  pkg/syncer/json.go
  pkg/syncer/syncer.go
  tests/catalog/managedosversionchannel.go
  tests/controllerHelpers/FakeSyncerProvider.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/managedosversionchannel_test.go
  tests/e2e/upgrades_test.go
Labels: area/operator, area/tests, area/chart

#252 Improve syncer
  api/v1beta1/condition_consts.go
  api/v1beta1/managedosversionchannel_types.go
  chart/templates/crds.yaml
  config/crd/bases/elemental.cattle.io_managedosversionchannels.yaml
  controllers/managedosversionchannel_controller.go
  controllers/managedosversionchannel_controller_test.go
  pkg/syncer/custom.go
  pkg/syncer/json.go
  pkg/syncer/syncer.go
  tests/controllerHelpers/FakeSyncerProvider.go
  tests/e2e/managedosversionchannel_test.go
Labels: area/operator, area/tests, area/chart

#255 Drop requeuer, not needed anymore
  cmd/operator/operator/root.go
  controllers/managedosversionchannel_controller.go
  go.mod
  pkg/operator/options.go
  pkg/syncer/custom.go
  pkg/types/requeuer.go
  tests/e2e/managedosversionchannel_test.go
  vendor/golang.org/x/sync/semaphore/semaphore.go
  vendor/modules.txt
Labels: area/operator, area/tests, area/build

#254 Use custom names in upgrade objects
  pkg/controllers/managedos/template.go
  tests/e2e/upgrades_test.go
Labels: area/operator, area/tests

#253 Refactor MachineRegistration e2e tests
  tests/catalog/manageregistration.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/machineregistration_test.go
Labels: area/tests

#262 Add version commands/flags for all binaries
  cmd/operator/main.go
  cmd/register/main.go
  cmd/support/main.go
Labels: area/operator, area/register

#260 Add a rate limiter to managedosversionchannel reconciler
  api/v1beta1/managedosversionchannel_types.go
  chart/templates/crds.yaml
  config/crd/bases/elemental.cattle.io_managedosversionchannels.yaml
  controllers/managedosversionchannel_controller.go
  controllers/managedosversionchannel_controller_test.go
  pkg/syncer/custom.go
  tests/catalog/managedosversionchannel.go
  tests/controllerHelpers/FakeSyncerProvider.go
  tests/e2e/managedosversionchannel_test.go
  tests/e2e/upgrades_test.go
Labels: area/operator, area/tests, area/chart

#263 Refactor ManagedOsImage e2e tests
  tests/catalog/managedosimage.go
  tests/catalog/managedosversion.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/managedosimage_test.go
  tests/e2e/upgrades_test.go
Labels: area/tests

#256 [controller_runtime] operator/registration: switch to Kubebuilder client
  api/v1beta1/types.go
  chart/templates/cluster_role.yaml
  cmd/register/main.go
  config/rbac/bases/role.yaml
  controllers/machineregistration_controller.go
  pkg/elementalcli/elementalcli.go
  pkg/operator/operator.go
  pkg/server/register.go
  pkg/server/register_test.go
  pkg/server/server.go
  pkg/tpm/auth_tpm.go
  pkg/tpm/tpm.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/doc.go
Labels: area/operator, area/register, area/tests, area/chart, branch/kubebuilder

#268 Change the helm chart oci reference to be aligned with other elemental images
  chart/Chart.yaml
  chart/values.yaml
Labels: area/chart

#266 [controller_runtime] add registration protocol version
  pkg/register/register.go
  pkg/register/websocket.go
  pkg/server/register.go
Labels: area/operator

#269 Change the helm chart oci reference to be aligned with other elemental images
  chart/Chart.yaml
  chart/values.yaml
Labels: area/chart, area/kubebuilder
