Repository rancher/elemental-operator, pull requests merged in 2022-08, with the labels that each got.

#129 [tests] fix nginx deploy url
  tests/e2e/e2e_suite_test.go
Labels: area/tests

#127 Store binary artifacts on PR/master
  .github/workflows/build.yaml
Labels: area/operator, area/register, area/build

#128 [chart] only add default-registry if specified
  chart/templates/deployment.yaml
Labels: area/chart

#126 Remove default value for flag and expand description
  chart/values.yaml
  cmd/operator/operator/root.go
Labels: area/operator

#125 Add auto labeler
  .github/labeler.yml
  .github/workflows/labeler.yaml
Labels: area/build

#133 Split header into 7Kb of data
  pkg/server/register.go
  pkg/tpm/register.go
Labels: area/operator, area/register

#135 Drop uneeded files and add extra label
  .github/labeler.yml
  pkg/questions/questions.go
  pkg/util/crypt.go
  pkg/util/prompt.go
Labels: area/operator, area/build

#134 Only decode some smbios data
  pkg/dmidecode/decode.go
Labels: area/operator, area/register

#137 Backwards compatibility for smbios headers
  pkg/server/register.go
  pkg/server/register_test.go
Labels: area/operator, area/tests

#138 Fix e2e discovery tests
  tests/e2e/upgrades_test.go
Labels: area/tests

#142 log: report elemental installation completion
  cmd/register/main.go
Labels: area/register

#146 Add local plan to rancher-system-agent to stop elemental-system-agent
  pkg/controllers/machineinventoryselector/bootstrap.go
Labels: area/operator

#148 Add image signing to push jobs
  .github/workflows/docker-master.yaml
  .github/workflows/docker-tag.yaml
Labels: area/build

#150 Enable deploying operator replicas
  .github/workflows/e2e.yaml
  chart/templates/apiservice.yaml
  chart/templates/deployment.yaml
  chart/templates/rbac.yaml
  chart/templates/serviceaccount.yaml
  chart/values.yaml
  tests/e2e/e2e_suite_test.go
  tests/e2e/machineregistration_test.go
Labels: area/tests, area/build, area/chart
