Repository rancher/elemental-operator, pull requests merged in 2023-07, with the labels that each got.

#470 Check for live registration config when no arguments passed
  api/v1beta1/types.go
  cmd/register/main.go
  pkg/register/register.go
  pkg/register/websocket.go
  pkg/server/api_registration.go
  pkg/server/api_registration_test.go
Labels: area/operator, area/register, area/tests

#479 Improve re-registration
  Makefile
  cmd/register/main.go
  cmd/register/main_test.go
  codecov.yml
  go.mod
  go.sum
  pkg/install/install.go
  pkg/install/mocks/installer.go
  pkg/register/mocks/client.go
  pkg/register/register.go
  pkg/register/state.go
  pkg/register/state_test.go
  pkg/tpm/register.go
  scripts/generate_mocks.sh
  utils/mockgen.go
  vendor/github.com/twpayne/go-vfs/vfst/test.go
  vendor/github.com/twpayne/go-vfs/vfst/test_windows.go
  vendor/github.com/twpayne/go-vfs/vfst/testfs.go
  vendor/github.com/twpayne/go-vfs/vfst/vfst.go
  vendor/github.com/twpayne/go-vfsafero/.travis.yml
  vendor/github.com/twpayne/go-vfsafero/LICENSE
  vendor/github.com/twpayne/go-vfsafero/README.md
  vendor/github.com/twpayne/go-vfsafero/vfsafero.go
  vendor/go.uber.org/mock/AUTHORS
  vendor/go.uber.org/mock/CONTRIBUTORS
  vendor/go.uber.org/mock/LICENSE
  vendor/go.uber.org/mock/gomock/call.go
  vendor/go.uber.org/mock/gomock/callset.go
  vendor/go.uber.org/mock/gomock/controller.go
  vendor/go.uber.org/mock/gomock/doc.go
  vendor/go.uber.org/mock/gomock/matchers.go
  vendor/go.uber.org/mock/mockgen/model/model.go
  vendor/modules.txt
Labels: area/operator, area/register, area/tests, area/build

#486 Recreate service account token secret if missing
  controllers/machineinventory_controller.go
  controllers/machineregistration_controller.go
  controllers/machineregistration_controller_test.go
  controllers/machineselector_controller.go
  controllers/managedosimage_controller.go
  controllers/managedosversionchannel_controller.go
  controllers/managedosversionchannel_controller_test.go
  controllers/seedimage_controller.go
Labels: area/tests
