Repository rancher/elemental-operator, pull requests merged in 2023-05, with the labels that each got.

#426 SeedImage: add image build to the github release workflow
  .github/workflows/chart.yaml
  .github/workflows/docker-tag.yaml
Labels: area/build

#439 Add channel hook-failed delete policy
  chart/templates/channel-hook.yaml
Labels: area/chart

#440 Chart improvements
  .obs/chartfile/Chart.yaml
  chart/Chart.yaml
Labels: area/chart, status/do not merge

#444 GoReleaser: fix releases CI
  .goreleaser.yaml
Labels: area/build

#449 Bump rancher and k8s for e2e tests
  .github/workflows/e2e.yaml
  tests/e2e/config/config.yaml
  tests/e2e/e2e_suite_test.go
Labels: area/tests, area/build
