Repository rancher/elemental-operator, pull requests merged in 2023-02, with the labels that each got.

#348 operator: add missing label prefix
  pkg/server/api_registration.go
  pkg/server/api_registration_test.go
Labels: area/operator, area/tests

#346 register client: isolate TPM auth code
  cmd/register/main.go
  pkg/register/register.go
  pkg/tpm/register.go
Labels: area/operator, area/register

#351 operator: let build-image API GET to return the image URL
  pkg/server/api_buildimage.go
  pkg/server/api_buildimage_test.go
  pkg/server/registration_cache.go
Labels: area/operator, area/tests

#354 Move system-data labels to templating
  pkg/server/api_registration.go
  pkg/server/api_registration_test.go
  pkg/server/server.go
Labels: area/operator, area/tests

#358 Filter inventory list with a labelSelector and not with a labels map
  controllers/machineselector_controller.go
  controllers/machineselector_controller_test.go
Labels: area/tests

#359 Turn MachineInventoryRef into LocalObjectReference
  api/v1beta1/condition_consts.go
  api/v1beta1/machineselector_types.go
  api/v1beta1/zz_generated.deepcopy.go
  chart/templates/crds.yaml
  config/crd/bases/elemental.cattle.io_machineinventoryselectors.yaml
  config/crd/bases/elemental.cattle.io_machineinventoryselectortemplates.yaml
  controllers/machineinventory_controller.go
  controllers/machineinventory_controller_test.go
  controllers/machineregistration_controller.go
  controllers/machineregistration_controller_test.go
  controllers/machineselector_controller.go
  controllers/machineselector_controller_test.go
Labels: area/tests, area/chart

#362 build-image API: add build job with single pod lifecycle
  chart/templates/cluster_role.yaml
  cmd/operator/operator/root.go
  config/rbac/bases/role.yaml
  pkg/server/api_buildimage.go
  pkg/server/api_buildimage_test.go
  pkg/server/registration_cache.go
Labels: area/operator, area/tests, area/chart

#363 operator: labels minor improvements
  pkg/hostinfo/hostinfo.go
  pkg/register/register.go
  pkg/server/api_registration.go
Labels: area/operator

#367 Unify logging
  Dockerfile
  cmd/operator/display/root.go
  cmd/operator/main.go
  cmd/operator/operator/root.go
  cmd/register/main.go
  cmd/support/main.go
  go.mod
  pkg/clients/clients.go
  pkg/elementalcli/elementalcli.go
  pkg/log/log.go
  pkg/register/register.go
  pkg/server/api_buildimage.go
  pkg/server/api_registration.go
  pkg/server/server.go
  pkg/tpm/auth_tpm.go
  pkg/tpm/register.go
Labels: area/operator, area/register, area/build

#350 operator: annotate remote host IP
  pkg/register/register.go
  pkg/register/websocket.go
  pkg/server/api_registration.go
Labels: area/operator

#371 Use variadic arguments in klog instead of slices
  pkg/log/log.go
Labels: area/operator
