Repository rancher/elemental-operator, pull requests merged in 2023-01, with the labels that each got.

#319 linter: fix go-header check
  .github/workflows/lint.yaml
  .golangci.yml
Labels: area/build

#316 docs: add ref to the official docs in the chart readme
  chart/README.md
Labels: area/chart

#321 Do not store cpu info if not available
  pkg/server/register.go
Labels: area/operator

#315 operator: expose build-image API
  pkg/server/api_buildimage.go
  pkg/server/api_buildimage_test.go
  pkg/server/api_registration.go
  pkg/server/api_registration_test.go
  pkg/server/registration_cache.go
  pkg/server/server.go
Labels: area/operator, area/tests

#328 Replace action engineerd/setup-kind
  .github/workflows/e2e.yaml
Labels: area/build

#332 register client: allow to register against lower version operators
  pkg/register/register.go
Labels: area/operator

#338 operator: add support to old register clients
  pkg/server/api_registration.go
Labels: area/operator

#337 Set default elemental-operator USER
  .obs/dockerfile/Dockerfile
  Dockerfile
Labels: area/build

#340 operator: always use software UUID as default machine name
  pkg/server/api_registration_test.go
  pkg/server/server.go
Labels: area/operator, area/tests
