Repository rancher/elemental-operator, pull requests merged in 2023-03, with the labels that each got.

#390 unit-tests: ensure resources cleanup
  controllers/machineregistration_controller_test.go
Labels: area/tests

#389 operator: drop build-image api
  pkg/server/api_buildimage.go
  pkg/server/api_buildimage_test.go
  pkg/server/registration_cache.go
  pkg/server/server.go
Labels: area/operator, area/tests

#405 Prevent a nil pointer dereference panic error
  pkg/register/register.go
Labels: kind/bug, area/operator
