Repository rancher/elemental-operator, pull requests merged in 2023-12, with the labels that each got.

#580 Always pull channel image on channel sync
  pkg/syncer/syncer.go
Labels: area/operator

#581 Add disable-boot-entry flag to reset command
  .obs/chartfile/crds/templates/crds.yaml
  api/v1beta1/types.go
  cmd/register/main.go
  cmd/register/main_test.go
  config/crd/bases/elemental.cattle.io_machineregistrations.yaml
  pkg/elementalcli/elementalcli.go
Labels: area/operator, area/register, area/tests

#584 Fix default values in questions.yaml file
  .obs/chartfile/operator/questions.yaml
  Makefile
Labels: area/build
