Repository rancher/elemental-operator, pull requests merged in 2023-11, with the labels that each got.

#559 ci: fix SeedImage builder used image
  controllers/seedimage_controller_test.go
Labels: area/tests, kind/QA

#561 Implement picking dynamic installation device
  api/v1beta1/types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/crds/templates/crds.yaml
  cmd/register/main.go
  config/crd/bases/elemental.cattle.io_machineregistrations.yaml
  pkg/install/install.go
  pkg/install/install_test.go
Labels: area/operator, area/register, area/tests

#567 Add missing questions.yaml file
  charts/operator/app-readme.md
  charts/operator/questions.yaml
Labels: area/chart

#571 Fix device-selector logic
  pkg/install/install.go
  pkg/install/install_test.go
Labels: area/operator, area/tests

#572 Unify all chart files under .obs/charfile
  .obs/chartfile/README.md
  .obs/chartfile/crds/templates/crds.yaml
  .obs/chartfile/crds/templates/validate-no-pending-deletions.yaml
  .obs/chartfile/operator/app-readme.md
  .obs/chartfile/operator/questions.yaml
  .obs/chartfile/operator/templates/_helpers.tpl
  .obs/chartfile/operator/templates/apiservice.yaml
  .obs/chartfile/operator/templates/capi_rbac.yaml
  .obs/chartfile/operator/templates/channel.yaml
  .obs/chartfile/operator/templates/cluster_role.yaml
  .obs/chartfile/operator/templates/cluster_role_binding.yaml
  .obs/chartfile/operator/templates/deployment.yaml
  .obs/chartfile/operator/templates/globalrole.yaml
  .obs/chartfile/operator/templates/serviceaccount.yaml
  .obs/chartfile/operator/templates/validate-install-crd.yaml
  Makefile
  charts/crds/Chart.yaml
  charts/operator/Chart.yaml
  charts/operator/README.md
  charts/operator/values.yaml
Labels: area/build
