Repository rancher/elemental-operator, pull requests merged in 2024-09, with the labels that each got.

#835 register: add 'version' and 'dumpdata' subcommands
  cmd/register/main.go
  cmd/register/showdata.go
  cmd/register/version.go
Labels: area/register

#843 Label Templates: rework collection of 'hostinfo' data and collected variables
  cmd/register/showdata.go
  pkg/hostinfo/hostinfo.go
  pkg/register/register.go
  pkg/server/api_registration_test.go
Labels: area/operator, area/register, area/tests

#845 Switch to git based repository in OBS
  .obs/chartfile/elemental-operator-crds-helm/Chart.yaml
  .obs/chartfile/elemental-operator-crds-helm/_helmignore
  .obs/chartfile/elemental-operator-crds-helm/_service
  .obs/chartfile/elemental-operator-crds-helm/templates/crds.yaml
  .obs/chartfile/elemental-operator-crds-helm/templates/validate-no-pending-deletions.yaml
  .obs/chartfile/elemental-operator-helm/Chart.yaml
  .obs/chartfile/elemental-operator-helm/README.md
  .obs/chartfile/elemental-operator-helm/_helmignore
  .obs/chartfile/elemental-operator-helm/_service
  .obs/chartfile/elemental-operator-helm/app-readme.md
  .obs/chartfile/elemental-operator-helm/questions.yaml
  .obs/chartfile/elemental-operator-helm/templates/_helpers.tpl
  .obs/chartfile/elemental-operator-helm/templates/apiservice.yaml
  .obs/chartfile/elemental-operator-helm/templates/capi_rbac.yaml
  .obs/chartfile/elemental-operator-helm/templates/channel-dev.yaml
  .obs/chartfile/elemental-operator-helm/templates/channels.yaml
  .obs/chartfile/elemental-operator-helm/templates/cluster_role.yaml
  .obs/chartfile/elemental-operator-helm/templates/cluster_role_binding.yaml
  .obs/chartfile/elemental-operator-helm/templates/deployment.yaml
  .obs/chartfile/elemental-operator-helm/templates/globalrole.yaml
  .obs/chartfile/elemental-operator-helm/templates/metadata.yaml
  .obs/chartfile/elemental-operator-helm/templates/serviceaccount.yaml
  .obs/chartfile/elemental-operator-helm/templates/validate-install-crd.yaml
  .obs/chartfile/elemental-operator-helm/values.yaml
  .obs/dockerfile/operator-image/Dockerfile
  .obs/dockerfile/operator-image/_service
  .obs/dockerfile/seedimage-builder/Dockerfile
  .obs/dockerfile/seedimage-builder/_service
  .obs/specfile/elemental-operator/elemental-operator.spec
  .obs/workflows.yml
  Makefile
Labels: area/build

#847 label templates: drop spaces from Storage variables
  pkg/hostinfo/hostinfo.go
Labels: kind/bug, area/operator

#851 Allow configuration of max snapshots during install
  .obs/chartfile/elemental-operator-crds-helm/templates/crds.yaml
  api/v1beta1/types.go
  config/crd/bases/elemental.cattle.io_machineregistrations.yaml
  pkg/elementalcli/elementalcli.go
Labels: area/operator

#853 [Airgap] Fix script to support Dev and Staging
  scripts/elemental-airgap.sh
Labels: area/airgap
