Repository rancher/elemental-operator, pull requests merged in 2024-01, with the labels that each got.

#593 Add hostname to system-data
  pkg/hostinfo/hostinfo.go
  pkg/runtime/info.go
  pkg/server/api_registration.go
  pkg/server/api_registration_test.go
Labels: area/operator, area/tests

#594 Charts/Makefile: fix default OS channel repo name
  Makefile
Labels: area/build

#603 Print system architecture
  Makefile
  cmd/operator/operator/root.go
Labels: area/build

#604 Fix inversed reset options
  pkg/elementalcli/elementalcli.go
Labels: area/operator
