Repository rancher/elemental-operator, pull requests merged in 2024-10, with the labels that each got.

#852 Build e2e chart locally
  .github/workflows/e2e.yaml
  Makefile
  go.mod
  go.sum
  pkg/elementalcli/mocks/elementalcli.go
  pkg/install/mocks/install.go
  pkg/network/mocks/network.go
  pkg/register/mocks/client.go
  pkg/register/mocks/state.go
  pkg/util/mocks/command_runner.go
  scripts/generate_mocks.sh
  tests/e2e/config/config.go
  tests/e2e/config/config.yaml
  tests/e2e/downgrade_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/machineregistration_test.go
  tests/e2e/managedosimage_test.go
  tests/e2e/managedosversionchannel_test.go
  tests/e2e/upgrades_test.go
  vendor/github.com/rancher-sandbox/ele-testhelpers/kubectl/kubectl.go
  vendor/github.com/rancher-sandbox/ele-testhelpers/kubectl/pod.go
  vendor/modules.txt
Labels: area/operator, area/tests, area/build

#857 Use privateCA for Rancher on dev environment
  tests/e2e/e2e_suite_test.go
  tests/manifests/cattle-system-namespace.yaml
  tests/manifests/test-private-ca.yaml
Labels: area/tests

#864 RBAC: restrict SeedImage controller auth to fleet-default
  .obs/chartfile/elemental-operator-helm/templates/rbac.yaml
  Makefile
  config/rbac/bases/cluster_role_binding.yaml
  config/rbac/bases/role.yaml
  config/rbac/bases/role_binding.yaml
  config/rbac/kustomization.yaml
  config/rbac/patches/name_in_rolebinding.yaml
  controllers/seedimage_controller.go
Labels: area/build

#863 Add support for agent-tls-mode Rancher setting
  .obs/chartfile/elemental-operator-crds-helm/templates/crds.yaml
  api/v1beta1/types.go
  config/crd/bases/elemental.cattle.io_machineregistrations.yaml
  pkg/install/_testdata/after-hook-config-install.yaml
  pkg/install/_testdata/after-hook-config-reset.yaml
  pkg/install/install.go
  pkg/install/install_test.go
  pkg/server/api_registration.go
  pkg/server/api_registration_test.go
  tests/e2e/config/config.yaml
  tests/e2e/e2e_suite_test.go
Labels: area/operator, area/tests

#870 Do not include Config to MachineRegistration as pointer
  api/v1beta1/machineregistration_types.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/seedimage_controller_test.go
  pkg/server/api_registration.go
  pkg/server/api_registration_test.go
  pkg/server/server.go
  pkg/server/server_test.go
  tests/catalog/manageregistration.go
  tests/e2e/machineregistration_test.go
Labels: kind/bug, area/operator, area/tests

#874 Only reset network if a network configurator is used
  .obs/chartfile/elemental-operator-crds-helm/templates/crds.yaml
  api/v1beta1/machineinventory_types.go
  api/v1beta1/types.go
  config/crd/bases/elemental.cattle.io_machineinventories.yaml
  config/crd/bases/elemental.cattle.io_machineregistrations.yaml
  controllers/machineinventory_controller.go
  controllers/machineinventory_controller_test.go
  pkg/network/network.go
  pkg/server/api_registration.go
  pkg/server/server.go
Labels: area/operator, area/tests

#871 [v1.7.x] Do not include Config to MachineRegistration as pointer (#870)
  api/v1beta1/machineregistration_types.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/seedimage_controller_test.go
  pkg/server/api_registration.go
  pkg/server/api_registration_test.go
  pkg/server/server.go
  pkg/server/server_test.go
  tests/catalog/manageregistration.go
  tests/e2e/machineregistration_test.go
Labels: area/operator, area/tests

#873 [v1.5.x] Do not include Config to MachineRegistration as pointer (#870)
  api/v1beta1/machineregistration_types.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/seedimage_controller_test.go
  pkg/server/api_registration.go
  pkg/server/api_registration_test.go
  pkg/server/server.go
  pkg/server/server_test.go
  tests/catalog/manageregistration.go
  tests/e2e/machineregistration_test.go
Labels: area/operator, area/tests

#876 [v1.7.x] Only reset network if a network configurator is used
  .obs/chartfile/elemental-operator-crds-helm/templates/crds.yaml
  api/v1beta1/machineinventory_types.go
  api/v1beta1/types.go
  config/crd/bases/elemental.cattle.io_machineinventories.yaml
  config/crd/bases/elemental.cattle.io_machineregistrations.yaml
  controllers/machineinventory_controller.go
  controllers/machineinventory_controller_test.go
  pkg/network/network.go
  pkg/server/api_registration.go
  pkg/server/server.go
Labels: area/operator, area/tests

#880 No need to make any GH release
  .github/workflows/release-chart.yaml
Labels: area/build

#878 [v1.6] No need to install yq neither to create a GH release
  .github/actions/chart/action.yaml
  .github/workflows/release-chart.yaml
Labels: area/build

#879 [v1.7] No need to make any GH release
  .github/workflows/release-chart.yaml
Labels: area/build
