Repository rancher/elemental-operator, pull requests merged in 2024-08, with the labels that each got.

#796 Backport to v1.6.x
  .github/workflows/e2e.yaml
  .obs/chartfile/crds/templates/crds.yaml
  .obs/chartfile/operator/templates/channel-dev.yaml
  .obs/chartfile/operator/templates/channel.yaml
  .obs/chartfile/operator/templates/channels.yaml
  .obs/chartfile/operator/templates/validate-install-crd.yaml
  .obs/chartfile/operator/values.yaml
  config/crd/kustomization.yaml
  controllers/managedosversionchannel_controller_test.go
  scripts/elemental-airgap.sh
  tests/e2e/downgrade_test.go
  tests/e2e/e2e_suite_test.go
Labels: area/tests, area/build

#808 operator: rework label templating
  pkg/hostinfo/hostinfo.go
  pkg/register/websocket.go
  pkg/server/api_registration.go
  pkg/server/api_registration_test.go
  pkg/server/labeltmpl.go
  pkg/server/server.go
  pkg/templater/templater.go
  pkg/templater/templater_test.go
Labels: area/operator, area/tests

#816 [v1.6.x][BACKPORT] register: always register when called
  cmd/register/main.go
  cmd/register/main_test.go
  pkg/install/install_test.go
  pkg/register/register.go
  pkg/register/state.go
  pkg/register/state_test.go
Labels: area/operator, area/register, area/tests

#793 IPAM to nmstate network config
  .obs/chartfile/crds/templates/crds.yaml
  .obs/chartfile/operator/templates/cluster_role.yaml
  Makefile
  api/v1beta1/condition_consts.go
  api/v1beta1/machineinventory_types.go
  api/v1beta1/types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/operator/operator/root.go
  cmd/register/main.go
  cmd/register/main_test.go
  config/crd/bases/elemental.cattle.io_machineinventories.yaml
  config/crd/bases/elemental.cattle.io_machineregistrations.yaml
  config/rbac/bases/role.yaml
  controllers/machineinventory_controller.go
  pkg/install/_testdata/network-config-applicator.yaml
  pkg/install/_testdata/registration-config-config.yaml
  pkg/install/install.go
  pkg/install/install_test.go
  pkg/install/mocks/install.go
  pkg/network/_testdata/nmstate-intermediate.yaml
  pkg/network/mocks/network.go
  pkg/network/network.go
  pkg/network/network_test.go
  pkg/register/mocks/client.go
  pkg/register/register.go
  pkg/register/websocket.go
  pkg/server/api_registration.go
  pkg/server/server.go
  pkg/util/command_runner.go
  pkg/util/mocks/command_runner.go
  scripts/generate_mocks.sh
  scripts/install-ipam-provider.sh
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/exp/ipam/api/v1beta1/.import-restrictions
  vendor/sigs.k8s.io/cluster-api/exp/ipam/api/v1beta1/conversion.go
  vendor/sigs.k8s.io/cluster-api/exp/ipam/api/v1beta1/doc.go
  vendor/sigs.k8s.io/cluster-api/exp/ipam/api/v1beta1/groupversion_info.go
  vendor/sigs.k8s.io/cluster-api/exp/ipam/api/v1beta1/ipaddress_types.go
  vendor/sigs.k8s.io/cluster-api/exp/ipam/api/v1beta1/ipaddressclaim_types.go
  vendor/sigs.k8s.io/cluster-api/exp/ipam/api/v1beta1/zz_generated.deepcopy.go
Labels: area/operator, area/register, area/tests, area/build

#818 Bandaid local build
  Makefile
Labels: area/build

#814 linter/trivial: error strings should not be capitalized (ST1005)
  cmd/register/main.go
Labels: area/register

#820 networking: use the main registration websocket channel for network data
  cmd/register/main.go
  cmd/register/main_test.go
  pkg/register/mocks/client.go
  pkg/register/register.go
  pkg/server/api_registration.go
Labels: area/operator, area/register, area/tests

#821 operator: add built-in 'Random' label templates
  pkg/templater/random.go
  pkg/templater/templater.go
  pkg/templater/templater_test.go
Labels: area/operator, area/tests

#819 Implement Network Configurators (nmc, nmstate, nmconnections)
  .obs/chartfile/crds/templates/crds.yaml
  api/v1beta1/types.go
  config/crd/bases/elemental.cattle.io_machineinventories.yaml
  config/crd/bases/elemental.cattle.io_machineregistrations.yaml
  pkg/network/_testdata/digested-intermediate.yaml
  pkg/network/network.go
  pkg/network/network_test.go
  pkg/network/nmc.go
  pkg/network/nmconnections.go
  pkg/network/nmstate.go
  pkg/server/server.go
  pkg/util/util.go
Labels: area/operator, area/tests

#822 Use after-install && after-reset stages to initialize system
  api/v1beta1/types.go
  pkg/elementalcli/elementalcli.go
  pkg/install/_testdata/after-hook-config-install.yaml
  pkg/install/_testdata/after-hook-config-reset.yaml
  pkg/install/_testdata/cloud-init-config.yaml
  pkg/install/_testdata/network-config-applicator.yaml
  pkg/install/_testdata/registration-config-config.yaml
  pkg/install/_testdata/registration-state-config.yaml
  pkg/install/_testdata/system-agent-config.yaml
  pkg/install/install.go
  pkg/install/install_test.go
  pkg/network/network.go
  pkg/network/network_test.go
  pkg/network/nmc.go
  pkg/network/nmconnections.go
  pkg/network/nmstate.go
Labels: area/operator, area/tests

#825 Fix flaky network test
  pkg/network/network_test.go
Labels: area/operator, area/tests

#824 [Airgap] fix channel extraction for 1.7 version
  scripts/elemental-airgap.sh
Labels: area/airgap

#828 [v1.6.x] Add SeedImage.status.checksumURL
  .obs/chartfile/crds/templates/crds.yaml
  api/v1beta1/seedimage_type.go
  config/crd/bases/elemental.cattle.io_seedimages.yaml
  controllers/seedimage_controller.go
  pkg/server/api_seedimage.go
  pkg/server/api_seedimage_test.go
Labels: area/operator, area/tests

#830 Random template labels - avoid override
  pkg/server/api_registration_test.go
  pkg/server/labeltmpl.go
  pkg/templater/random.go
Labels: area/operator, area/tests
