Repository rancher/elemental-operator, pull requests merged in 2024-06, with the labels that each got.

#748 Let elemental-register digest system hardware data
  pkg/hostinfo/hostinfo.go
  pkg/register/register.go
  pkg/register/websocket.go
  pkg/server/api_registration.go
  pkg/server/api_registration_test.go
Labels: area/operator, area/tests

#749 (1.6.x Backport) Let elemental-register digest system hardware data
  pkg/hostinfo/hostinfo.go
  pkg/register/register.go
  pkg/register/websocket.go
  pkg/server/api_registration.go
  pkg/server/api_registration_test.go
Labels: area/operator, area/tests

#750 Flag no longer in sync ManagedOSVersions
  api/v1beta1/common_consts.go
  controllers/managedosversionchannel_controller.go
  controllers/managedosversionchannel_controller_test.go
Labels: area/tests

#752 [v1.6.x backport] Flag no longer in sync ManagedOSVersions
  api/v1beta1/common_consts.go
  controllers/managedosversionchannel_controller.go
  controllers/managedosversionchannel_controller_test.go
Labels: area/tests

#751 Allow yip configs
  go.mod
  pkg/util/util.go
  pkg/util/util_test.go
Labels: area/operator, area/tests, area/build

#762 [v1.6.x] Allow yip configs (#751)
  go.mod
  pkg/util/util.go
  pkg/util/util_test.go
Labels: area/operator, area/tests, area/build

#663 Revert "CI: fix CodeQL test (#655)"
  go.mod
Labels: area/build

#765 Use YAML content for Elemental Agent config
  cmd/support/main.go
  internal/system-agent/api.go
  pkg/install/_testdata/system-agent-config.yaml
  pkg/install/install.go
Labels: area/operator

#769 operator: fix ManagedOSVersionChannel sync
  controllers/managedosversionchannel_controller.go
Labels: need/backport

#770 Use YAML content for Elemental Agent config (#765)
  cmd/support/main.go
  internal/system-agent/api.go
  pkg/install/_testdata/system-agent-config.yaml
  pkg/install/install.go
Labels: area/operator

#773 Ensure re-sync is triggered
  controllers/managedosversionchannel_controller.go
  controllers/managedosversionchannel_controller_test.go
Labels: area/tests

#777 Backport to v1.5.x
  controllers/managedosversionchannel_controller.go
  controllers/managedosversionchannel_controller_test.go
Labels: area/tests

#774 Remove flaky checksum test
  controllers/machineinventory_controller_test.go
Labels: area/tests

#780 Add toggle to automatically delete no longer in sync versions
  .obs/chartfile/crds/templates/crds.yaml
  Makefile
  api/v1beta1/managedosversionchannel_types.go
  config/crd/bases/elemental.cattle.io_managedosversionchannels.yaml
  controllers/managedosversionchannel_controller.go
  controllers/managedosversionchannel_controller_test.go
Labels: area/tests, area/build

#775 Add managedosversion finalizer
  .obs/chartfile/crds/templates/crds.yaml
  .obs/chartfile/operator/templates/cluster_role.yaml
  api/v1beta1/common_consts.go
  api/v1beta1/machineinventory_types.go
  api/v1beta1/managedosversion_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/operator/operator/root.go
  config/crd/bases/elemental.cattle.io_managedosversions.yaml
  config/rbac/bases/role.yaml
  controllers/managedosimage_controller.go
  controllers/managedosversion_controller.go
  controllers/managedosversion_controller_test.go
Labels: area/tests

#768 Integrate a development channel in charts
  .obs/chartfile/operator/templates/channel-dev.yaml
  .obs/chartfile/operator/templates/channel.yaml
  .obs/chartfile/operator/values.yaml
Labels: kind/enhancement, area/channels

#782 [v1.6.x] Add managedosversion finalizer (#775 & #784)
  .obs/chartfile/crds/templates/crds.yaml
  .obs/chartfile/crds/templates/validate-no-pending-deletions.yaml
  .obs/chartfile/operator/templates/cluster_role.yaml
  .obs/chartfile/operator/templates/validate-install-crd.yaml
  api/v1beta1/common_consts.go
  api/v1beta1/machineinventory_types.go
  api/v1beta1/managedosversion_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/operator/operator/root.go
  config/crd/bases/elemental.cattle.io_managedosversions.yaml
  config/rbac/bases/role.yaml
  controllers/managedosimage_controller.go
  controllers/managedosversion_controller.go
  controllers/managedosversion_controller_test.go
Labels: Blocked, area/tests

#783 [v1.6.x] Add toggle to automatically delete no longer in sync versions (#780)
  .obs/chartfile/crds/templates/crds.yaml
  Makefile
  api/v1beta1/managedosversionchannel_types.go
  config/crd/bases/elemental.cattle.io_managedosversionchannels.yaml
  controllers/managedosversionchannel_controller.go
  controllers/managedosversionchannel_controller_test.go
Labels: area/tests, area/build

#786 Update k8s and Rancher versions for the e2e tests
  .github/workflows/e2e.yaml
Labels: area/build

#788 Workaround []byte equality check
  controllers/machineinventory_controller_test.go
Labels: area/tests
