Repository rancher/elemental-operator, pull requests merged in 2024-03, with the labels that each got.

#651 Make snapshotter configurable
  .obs/chartfile/crds/templates/crds.yaml
  api/v1beta1/types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/elemental.cattle.io_machineregistrations.yaml
  pkg/elementalcli/elementalcli.go
  pkg/register/register.go
Labels: area/operator

#652 charts: backport changes from Rancher Marketplace chart
  .obs/chartfile/operator/Chart.yaml
  .obs/chartfile/operator/README.md
  .obs/chartfile/operator/questions.yaml
  .obs/chartfile/operator/templates/channel.yaml
  .obs/chartfile/operator/values.yaml
  Makefile
Labels: area/build

#658 Enable ManagedOSImage updates
  .obs/chartfile/operator/templates/cluster_role.yaml
  config/rbac/bases/role.yaml
  controllers/managedosimage_controller.go
  controllers/managedosimage_controller_test.go
  controllers/suite_test.go
Labels: area/tests

#655 CI: fix CodeQL test
  go.mod
Labels: area/build

#659 [Airgap] fix the airgap script
  scripts/elemental-airgap.sh
Labels: kind/bug, area/airgap

#660 Drain nodes by default on upgrade
  .obs/chartfile/crds/templates/crds.yaml
  Makefile
  api/v1beta1/managedosimage_types.go
  config/crd/bases/elemental.cattle.io_managedosimages.yaml
  controllers/managedosimage_controller.go
  controllers/managedosimage_controller_test.go
  tests/catalog/managedosimage.go
Labels: area/tests, area/build

#669 [Airgap] fix channel.json extraction
  scripts/elemental-airgap.sh
Labels: kind/bug, area/airgap

#681 [V1.4.x] Make linter happy
  cmd/operator/operator/root.go
  cmd/register/main.go
  cmd/support/main.go
  pkg/server/server.go
  tests/e2e/config/config.go
Labels: area/operator, area/register, area/tests

#683 V1.4.x fix channel synchronization
  Makefile
  controllers/managedosversionchannel_controller.go
Labels: area/build

#682 Add extension to seedimage url
  controllers/seedimage_controller.go
  pkg/server/api_seedimage.go
Labels: area/operator
