Repository rancher/elemental-operator, pull requests merged in 2024-05, with the labels that each got.

#722 chart: fix upstream-version metadata
  .obs/chartfile/operator/Chart.yaml
Labels: kind/bug

#718 Prevent system-upgrade-controller from using dotted names
  controllers/managedosimage_controller.go
  controllers/managedosimage_controller_test.go
Labels: area/tests, area/plan

#730 Deprecate install yq action
  .github/actions/chart/action.yaml
  .github/workflows/airgap-test.yaml
Labels: area/build

#728 Allow cross build of seed-image ISOs
  controllers/seedimage_controller.go
  controllers/seedimage_controller_test.go
Labels: kind/enhancement, area/tests

#734 Update golang.org/x/net to v0.23.0
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/pipe.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/testsync.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/modules.txt
Labels: area/build, dependencies

#731 Added the ability to create a node reset marker for unmanaged hosts
  controllers/machineinventory_controller.go
  controllers/machineinventory_controller_test.go
Labels: area/tests, need/backport

#735 [v1.4.x][BACKPORT] Added the ability to create a node reset marker for unmanaged hosts (#731)
  controllers/machineinventory_controller.go
  controllers/machineinventory_controller_test.go
Labels: area/tests

#737 [v1.6.x][BACKPORT] Added the ability to create a node reset marker for unmanaged hosts (#731)
  controllers/machineinventory_controller.go
  controllers/machineinventory_controller_test.go
Labels: area/tests

#738 Remove Codecov action
  .github/workflows/unit-tests.yaml
  codecov.yml
  scripts/generate_mocks.sh
Labels: area/build

#743 [ v1.5.x][BACKPORT] register: don't send new Disks and Controllers data
  pkg/hostinfo/hostinfo.go
  pkg/register/register.go
Labels: area/operator

#742 [ v1.6.x][BACKPORT] register: don't send new Disks and Controllers data
  pkg/hostinfo/hostinfo.go
  pkg/register/register.go
Labels: area/operator
