Repository rancher/elemental-operator, pull requests merged in 2024-02, with the labels that each got.

#624 Use newer xorriso
  Dockerfile.seedimage
  Makefile
Labels: area/build

#625 SeedImage builder arguments in wrong order
  controllers/seedimage_controller.go
Labels: kind/bug, area/kubernetes

#622 Use go.mod ginkgo version
  Makefile
Labels: area/build, dependencies

#628 Test against k8s v1.27, rancher v2.8.2, and upgrade all test dependendencies
  .obs/chartfile/crds/templates/crds.yaml
  .obs/chartfile/operator/templates/cluster_role.yaml
  .obs/specfile/elemental-operator.spec
  Dockerfile
  Dockerfile.seedimage
  Makefile
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/elemental.cattle.io_machineinventories.yaml
  config/crd/bases/elemental.cattle.io_machineinventoryselectors.yaml
  config/crd/bases/elemental.cattle.io_machineinventoryselectortemplates.yaml
  config/crd/bases/elemental.cattle.io_machineregistrations.yaml
  config/crd/bases/elemental.cattle.io_managedosimages.yaml
  config/crd/bases/elemental.cattle.io_managedosversionchannels.yaml
  config/crd/bases/elemental.cattle.io_managedosversions.yaml
  config/crd/bases/elemental.cattle.io_seedimages.yaml
  config/rbac/bases/role.yaml
  go.mod
  go.sum
  scripts/setup-kind-cluster.sh
  tests/e2e/config/config.yaml
Labels: area/tests, area/build

#619 Add dev baseimage build
  Makefile
  controllers/managedosimage_controller.go
  controllers/managedosimage_controller_test.go
  scripts/setup-kind-cluster.sh
  tests/e2e/e2e_suite_test.go
  tests/manifests/test-registry.yaml
Labels: area/tests, area/build

#630 Update system-upgrade-controller test version
  tests/e2e/config/config.yaml
Labels: area/tests

#631 Makefile: fix commit date for local builds
  Makefile
Labels: area/build

#639 Makefile/setup-full-cluster: build seedimage-builder image too
  Makefile
Labels: area/build

#642 elemental-register: collect OS data for MachineInventories annotations
  pkg/register/register.go
Labels: area/operator

#648 Fix channel synchronization
  Makefile
  controllers/managedosversionchannel_controller.go
Labels: area/build, need/backport
