Repository rancher/elemental-operator, pull requests merged in 2024-07, with the labels that each got.

#781 Update channels
  .github/workflows/e2e.yaml
  .obs/chartfile/operator/templates/channel-dev.yaml
  .obs/chartfile/operator/templates/channel.yaml
  .obs/chartfile/operator/templates/channels.yaml
  controllers/managedosversionchannel_controller_test.go
  tests/e2e/downgrade_test.go
  tests/e2e/e2e_suite_test.go
Labels: area/tests, area/build, area/channels

#792 [Airgap] fix unstable channel extraction
  scripts/elemental-airgap.sh
Labels: kind/QA, area/airgap

#800 Implement Enabled field on ManagedOSVersionChannels
  .obs/chartfile/crds/templates/crds.yaml
  .obs/chartfile/operator/questions.yaml
  .obs/chartfile/operator/templates/channels.yaml
  .obs/chartfile/operator/values.yaml
  Makefile
  api/v1beta1/condition_consts.go
  api/v1beta1/managedosversionchannel_types.go
  config/crd/bases/elemental.cattle.io_managedosversionchannels.yaml
  controllers/managedosversionchannel_controller.go
  controllers/managedosversionchannel_controller_test.go
  tests/catalog/managedosversionchannel.go
Labels: area/tests, area/build
